<div class="container" id="white_div">

  <div class="page-header">
    <h1 >About</h1>
  </div>

  <div class="row">
    <div class="member span12"></div>
          <div class="member-meta">
            <div class="member-description">
              <h5 style="text-align: center">WRITE ABOUT WHY WE DID THIS PROJECT HERE!!!!</h5>
            </div>
        </div>
  </div>
  <br><br><br>


  <div class="row">
    <!-- first member -->
    <div class="member span4">
      <div class="member-avatar">
        <img src="assets/catherine_headshot_square.jpg" alt="Catherine Meyers" class="thumbnail">
      </div>
      <div class="member-meta">
        <div class="member-name"><h3>Catherine Meyers <small>voice</small></h3></div>
        <div class="member-social">
          <a href="http://twitter.com/ccmeyers324" class="elegant-icon-twitter" target="blank"><img src="assets/twitter-black.png"></a>
          <a href="http://www.linkedin.com/pub/catherine-meyers/23/454/795/" class="elegant-icon-linkedin" target="blank"><img src="assets/linkedin.png"></a>
          <a href="http://github.com/ccmeyers" class="elegant-icon-github" target="blank"><img src="assets/github_icon.png"></a>
          <a href="http://www.anunexpectedcoder.com" class="elegant-icon-wordpress" target="blank"><img src="assets/rss-icon.png"></a>
        </div>
        <div class="member-description">
          <p>Hi, I’m Catherine and I’m a Ruby newbie. I came to The Flatiron School after a career as a professional opera singer, and I am constantly amazed at the parallels between the two. I love to travel, play the ukulele, and wander aimlessly around New York City.</p>
        </div>
      </div>
    </div>
    
    <!-- second member -->
    <div class="member span4">
      <div class="member-avatar">
        <img src="img/team/man.png" alt="" class="thumbnail">
      </div>
      <div class="member-meta">
        <div class="member-name"><h3>Will Lowry <small>piano</small></h3></div>
        <div class="member-social">
          <a href="http://twitter.com/TheLowryder" class="elegant-icon-twitter" target="blank"><img src="assets/twitter-black.png"></a>
          <a href="http://www.linkedin.com/in/williamclowry" class="elegant-icon-linkedin" target="blank"><img src="assets/linkedin.png"></a>
          <a href="http://github.com/wlowry88" class="elegant-icon-github" target="blank"><img src="assets/github_icon.png"></a>
          <a href="http://wlowry88.github.io/" class="elegant-icon-wordpress" target="blank"><img src="assets/rss-icon.png"></a>
        </div>
        <div class="member-description">
          <p>Ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
    
    <!-- third member -->
    <div class="member span4">
      <div class="member-avatar">
        <img src="assets/reburka.jpg" alt="Rebecca Greenblatt" class="thumbnail">
      </div>
      <div class="member-meta">
        <div class="member-name"><h3>Rebecca Greenblatt <small>violin</small></h3></div>
        <div class="member-social">
          <a href="http://twitter.com/regreenblatt" class="elegant-icon-twitter" target="blank"><img src="assets/twitter-black.png"></a>
          <a href="http://www.linkedin.com/pub/rebecca-greenblatt/26/382/304" class="elegant-icon-linkedin" target="blank"><img src="assets/linkedin.png"></a>
          <a href="http://github.com/rebeccagreenblatt" class="elegant-icon-github" target="blank"><img src="assets/github_icon.png"></a>
          <a href="http://rebeccagreenblatt.github.io/" class="elegant-icon-wordpress" target="blank"><img src="assets/rss-icon.png"></a>
        </div>
        <div class="member-description">
          <p>Magna aliqua. Ut enim ad minim veniam,
            quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
            consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
            cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
            proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
        </div>
      </div>
    </div>
  </div>

</div>