<div class="container">

      <div class="page-header">
        <h1 >About</h1>
      </div>

<div class="row">
  <div class="member span12"></div>
        <div class="member-meta">
          <div class="member-description">
            <h5 style="text-align: center">WRITE ABOUT WHY WE DID THIS PROJECT HERE!!!!</h5>
          </div>
      </div>
</div>
<br><br><br>


      <div class="row">
        <!-- first member -->
        <div class="member span4">
          <div class="member-avatar">
            <img src="img/team/man.png" alt="" class="thumbnail">
          </div>
          <div class="member-meta">
            <div class="member-name"><h3>Catherine Meyers <small>voice</small></h3></div>
            <div class="member-social">
              <a href="#"><i class="elegant-icon-facebook"></i></a>
              <a href="#"><i class="elegant-icon-delicious"></i></a>
              <a href="#"><i class="elegant-icon-blogger"></i></a>
              <a href="#"><i class="elegant-icon-linkedin"></i></a>
              <a href="#"><i class="elegant-icon-flickr"></i></a>
              <a href="#"><i class="elegant-icon-twitter"></i></a>
              <a href="#"><i class="elegant-icon-email"></i></a>
            </div>
            <div class="member-description">
              <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod
                tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur.</p>
            </div>
          </div>
        </div>
        <!-- second member -->
        <div class="member span4">
          <div class="member-avatar">
            <img src="img/team/woman.png" alt="" class="thumbnail">
          </div>
          <div class="member-meta">
            <div class="member-name"><h3>Rebecca Greenblatt <small>violin</small></h3></div>
            <div class="member-social">
              <a href="#"><i class="elegant-icon-facebook"></i></a>
              <a href="#"><i class="elegant-icon-googleplus"></i></a>
              <a href="#"><i class="elegant-icon-linkedin"></i></a>
              <a href="#"><i class="elegant-icon-twitter"></i></a>
              <a href="#"><i class="elegant-icon-email"></i></a>
            </div>
            <div class="member-description">
              <p>Magna aliqua. Ut enim ad minim veniam,
                quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
        <!-- third member -->
        <div class="member span4">
          <div class="member-avatar">
            <img src="img/team/man.png" alt="" class="thumbnail">
          </div>
          <div class="member-meta">
            <div class="member-name"><h3>Will Lowry <small>piano</small></h3></div>
            <div class="member-social">
              <a href="#"><i class="elegant-icon-facebook"></i></a>
              <a href="#"><i class="elegant-icon-twitter"></i></a>
              <a href="#"><i class="elegant-icon-wordpress"></i></a>
              <a href="#"><i class="elegant-icon-email"></i></a>
            </div>
            <div class="member-description">
              <p>Ullamco laboris nisi ut aliquip ex ea commodo
                consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse
                cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non
                proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
            </div>
          </div>
        </div>
      </div>

    </div>