<div class="container">

  <div id="login-wraper">
      <form class="form login-form">
          <legend>Welcome to <span class="blue">Ensemblify</span></legend>
      
          <div class="page-header">
            <p class="facebook-image"><%= link_to(image_tag('facebook-login.png'),"/auth/facebook") %></p>
          </div>
      
          <div class="footer">
            <%= link_to "Take a look around", groups_path, class: "btn btn-black" %>           
          </div>
      
      </form>
  </div>

</div>