<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @admin.first_name %>,</h1>
    <p>
      <%= "#{@user.full_name} has accepted your invitation to join #{@group.name}" %>.
    </p>
    <p>
      <%= link_to @group.name, @url %>.
    </p>
    <p>Now go practice!</p>

    <p>Love,<br>
    The Ensemblify Team</p>
  </body>
</html>