<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hey <%= @user.first_name %>!</h1>
    <p>
      <%= link_to @group.name, @url %> has accepted your request to join!
    </p>

    <p>Now go practice!</p>

    <p>Love,<br>
    The Ensemblify Team</p>
  </body>
</html>