<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>
      <%= @content %>
    </p>
    <p>
      Reply to <%= @sender_name %> directly: <%= @sender_email %>
    </p>
    <p>Now go practice!</p>

    <p>Love,<br>
    The Ensemblify Team</p>
  </body>
</html>!