<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Ensemblify, <%= @user.first_name %>!</h1>
    <p>
      You're well on your way to finding your dream chamber ensemble.
      Why not browse the ensemble library?
    </p>
    <p>
      <%= link_to 'Log In', @url %>.
    </p>
    <p>Now go practice!</p>

    <p>Love,<br>
    The Ensemblify Team</p>
  </body>
</html>!