<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Welcome to Ensemblify, <%= @user.first_name %>!</h1>
    <p>
      <%= link_to 'Log in here', @url %> to update your profile, browse chamber ensembles, or create your own.
    </p>
    <p>Now go practice!</p>

    <p>Love,<br>
    The Ensemblify Team</p>
  </body>
</html>