<div class="container" id="search_form">
  <div class="wrapper">
    <div class="page-header">
      <h1>
        Ensembles
        <% if current_user %>
        <button class="btn intelligent_ensemble_toggle">Show Intelligent Matches</button>
        <%= link_to 'New Ensemble', new_group_path, class: "btn" %>
        <% end %>
      </h1>
    </div>


    <% if current_user %>
    <div class="intelligent_matches">
      <h4>These chamber groups might be a good fit for you based on your preferences.</h4>
      <%= render 'intelligent_matches_table', groups: @groups %>
    </div>
    <% end %>

    <div class="all_ensemble_matches">
      <h4>All Ensembles</h4>
      <%= render 'search_form' %>
      <%= render 'all_matches_table', full_groups: @full_groups %>
    </div>
  </div>
  <!-- wrapper end -->
    <br>
</div>