<div class="container" id="search_form">

  <div class="wrapper">

    <div class="page-header">
      <h1>
        Musicians
        <% if current_user %>
        <button class="btn intelligent_musician_toggle">Show Intelligent Matches</button>
        <% end %>
      </h1>
    </div>

    <% if current_user %>
      <div class="intelligent_matches">
        <%= render 'intelligent_matches_table' %>
      </div>
    <% end %>

    <div class="all_matches">
      <h4>Showing all musicians</h4>
      <%= render 'search_form', instrument_list: @instrument_list, ensemble_types: @ensemble_types %>
      <%= render 'all_matches_table', full_users: @full_users %>
    </div>

  </div>

</div>